/* =============================
    GLOBAL RESET & BODY
============================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;   
    padding: 20px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #252525;

}

#main-container {
    max-width: 1200px;
    margin: 0;
    background-color: #1A1A1A;
    border: 1px solid #444;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.separator, .section-hr {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 15px 0;
}

.full-width-hr {
    width: 100@;
}

.business-img {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border: 3px solid white;
}

#main-container {
    max-width: 1200px;
    margin: 0;
    background-color: #1a1a1a;
    padding: 15px;
    border: 1px solid #444;
}

#section1 {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid white;
    gap: 10px;
    padding: 10px;
}

.box {
    padding: 15px;
    background-color: #2c2c2c;
    border: white;
    margin-bottom: 5px;
}

.b0-business {
    display: flex;
    flex: 3 1 450px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.header-text {
    flex: 1;
}

.businessName {
    color: white;
    font-size: 3.5em;
}

.businessSlogan {
    color: lightblue;
    font-size: 2.3em;
    margin-bottom: 15px;
}

.businessInfo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    width: 100%;
    gap: 30px;
    margin-top: 15px;
}

.businessInfo {
    text-align: center;
}

.businessInfo h3 {
    text-align: center;
    margin-bottom: 5px;
}
.businessInfo p {
    text-align: center;
    margin-bottom: 5px;
}
.businessInfo a {
    color: #8FB38F;
    text-decoration: none;
    font-weight: bold;
}

.businessInfo a:hover {
    text-decoration: underline;
    color: white;
}

/* =============================
    NAVIGATION BAR
============================= */
.mainNav {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    font-size: 1.2 sans-serif;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #8FB38F;
    font-weight: bold;
}

.mainNav li {
    flex: 1;
    list-style: none; /* removes bullet points on list */
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

.mainNav li a {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.mainNav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8FB38F;
}

/* =============================
    HOME/MAIN PAGE
============================= */
.b1-video {
    width: 100%;
    padding: 0;
    background: black;
    overflow: hidden;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mainVid {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.daily-title {
    width: 100%;
    text-align: center;
    color: lightblue;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.b2-promo {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    background-color: #2c2c2c;
    margin-bottom: 15px;
}

.b2-promo img {
    max-width: 275px;
    height: auto;
}

/* =============================
    FORM - GET UPDATES MAIN PAGE 
============================= */
.getUpdates {
    max-width: 100%;
    margin: 0 auto ;
    padding: 0;
    text-align: left;
    color: white;
    border-radius: 5px;
    border-color: white;
}

.getUpates h2 {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 0;
    margin-bottom: 10px;
    font-size: 1.75em;
    font-weight: bold;
    color: white;
    text-align: left;
}

.animatedHeader label {
    text-align: center;
}

.animatedHeader:hover {
    animation: wiggle 0.5s ease-in-out;
    cursor: default;
    color: #4caf50;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin: 0;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: left;
}

.form-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form-row, .form-group {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="time"],

select, textarea {
    width: 100%;
    padding: 8px;
    padding-top: 0;
    margin-top: 10px;
    border: 1px solid #555;
    background-color: #eee;
    color: #000;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

/* =============================
    BUTTONS 
============================= */

.submitBtn, button {
    background-color: #8FB38F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-size: 1rem;
    margin-top: 10px;
}

.submitBtn:hover, button:hover {
    transform: scale(1.05);
    background-color: #45A049;
}

@keyframes wiggle {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(5deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}





/* =============================
    MENU PAGE - MAIN DRINK
============================= */

.main-menu-flex {
    display: flex;
    gap: 20px;
}


#section2 {
    min-width: 400px;
    border: 4px solid white;
}


.menu-col {
    flex: 3;
    min-width: 300px;
}

.menu-col h2 {
    color: white;
    border-bottom: 2px sollid #555;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
}

.drinkImage {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 15px;
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
}


.teaDes {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 0px;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    align-items: start;

}

.teaDes h3 {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    margin: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    color: #8FB38F;

}

.teaType {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 0;
    font-size: 1.5em;
    color: white;
}

.price {
    font-size: 0.9em;
    color: #eee;
}

.driinkDes1 {
    justify-content: space-between;
    grid-column: 2;
    margin: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    color: #ccc;
    text-align: left;

}




/* =============================
    MENU PAGE - SIDE SIZE
============================= */
#section3 {
    border: 4px solild white;
    gap: 10px;
    padding: 10px;
}

.content-col {
    flex: 1;
    min-width: 250px;
}

.b5-sizes {
    flex: 1;
    min-width: 250px;
}

.size-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #ccc;
}

.size-table th {
    font-weight: bold;
    background-color: #444;
    color: white;
}

.size-table th, .size-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



@media (max-width: 768px) {
    .main-menu-flex {
        flex-direction: column;
    }

    .businessInfo-container {
        grid-template-columns: 1fr;
    }

    .b0-business {
        flex-direction: column;
    }

    .mainNav {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }
}